.todo-app-login {
  background-color: $background-color-base;
  h2 {
    margin: 0;
    padding: 40px 0;
    font-weight: normal;
    text-align: center;
    font-size: 30px;
    color: $color-text-brief;
  }
}
