body,
html {
  margin: 0;
  padding: 0;
  font-size: $font-size-base;
  color: $color-text-base;
}

.todo-app-wrap {
  height: $fullpage-height;
}

.stretch-page {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: $fullpage-height;
  background-color: $background-color-base;
  z-index: 100;
}
