// background
$background-color-base: #efeff4;
$background-color-light: #fff;

// font
$color-text-base: #333;
$color-text-brief: #666;
$color-text-primary: #33a3f4;
$font-size-base: 14px;

// border
$border-color-base: #ddd;

$fullpage-height: 100vh;
