.user-info {
  position: relative;
  height: 125px;
  overflow: hidden;
  text-align: center;
  background-color: $background-color-light;
  @include hairline('bottom');
  @include align-center-flex('both');
}
$avatarSize: 64px;
.user-avatar {
  >img{
    width: $avatarSize;
    height: $avatarSize;
  }
}
.user-nickname {
  margin-top: 6px;
}
